// Config
@import "config/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/static/img/office-3295556_1920.jpg);
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,.5);
    background-attachment: fixed;
    line-height: 25px;
}

.container{
   
}

.header{
    position: relative;
    height: 70vh;
    overflow: hidden;
    &__info {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__h2{
        color: white;
        font-size: 3.5rem;        
        align-items: center;
        position: relative;
        text-align: center;
        text-shadow: 5px 5px 20px rgba(0,0,0,.5);
        line-height: 60px;
    }
    &__button{
        border: none;
        align-items: center;
        position: relative;
        margin-top: 4rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: #36ab12;
        border-radius: 30px; 
        font-size: 1.3rem;
        height: 3.5rem;
        width: 22rem;
        cursor: pointer;
    }    
    &__background{
        min-width: 100%;
        min-height: 100%;   
    }
}

.nav-menu {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.9), rgba(0,0,0,.8), rgba(0,0,0,.7), rgba(0,0,0,0));
    position: fixed;
    width: 100vw;
    height: 6rem;
    box-sizing: border-box;
    padding: 0 10%;
    z-index: 99;
    &__list {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__item{
        list-style: none;
        color: white;
        font-size: 1.2rem;
        position: relative;
        &--logo {
            margin-right: auto;
            cursor: pointer;
        } 
        &--item {
            margin: 0 1rem;
            cursor: pointer;
        }
        &--cel {
            margin-left: auto;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
    }
    &__tel{
        height: 2rem;
        margin-right: .3rem;
    }
    &__logo{
        height: 3rem;
    }
}

.impacto {
    background-color: #FFF;
    padding: 4rem 10% 2rem 10%;
    &__title {
        font-size: 2.5rem;
        font-weight: lighter;
        text-align: center;
        color: $blue-color;
    }
    &__h4 {
        color: $blue-color;
        font-size: 2rem;
        font-weight: lighter;
    }
    &__list {
        margin-top: 5rem;
        list-style: none;
        width: 50%;
        margin-left: auto;
    }
    &__item {
        display: flex;
        margin-bottom: 2rem;
        position: relative;
        &--border {
            &:before {
                content: "";
                position: absolute;
                height: 95%;
                border-left: 7px dotted #E6E6E6;
                top: 4.5rem;
                left: calc(3rem - 3.5px);
                z-index: 1;
            }
        }
    }
    &__num-container {
        background-color: #F2F2F2;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__num {
        font-weight: bold;
        font-size: 2.5rem;
        color: $green-color;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: #E6E6E6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__div1 {
        margin-right: 2rem; 
    }
    &__div2 {
        margin-top: 1.5rem;
    }
    &__p {
        margin-top: 1rem;
    }
}
.clientes{
    background-color: #FFF;
    padding-top: 12rem;
   
    &__conteudo{
        left: 15.3%;
        position: relative;
        display: flex;
        margin-top: 7rem;

    }
    &__figure{
        align-items: center;
        margin-right: 6rem;
    }
    &__user{
        height: 15.5rem;
        border-radius: 50%;
        margin-top: -2rem;
        border:medium solid #36ab12;
    }
    &__empresa{
        height: 12rem;
        margin-left: -1.5rem;
        margin-bottom: 3rem;
    }
    &__avaliacao{

    }
    &__p{
        width: 49%;
        color: #646464;
    }
       
    &__b{
        position: relative;
        bottom: -2rem;
        color: #444343;

    }
}
.cases{
    margin-left: -10rem;
    
}
.blog{
    background-color: #F9f9f8;
    padding-top: 11rem;
    &__postblog{
        display: flex;
        margin-top: 6rem;
        margin-left: 9%;

    }
    &__artigo{
        margin-left: 2rem;
        list-style: none;
    }
    &__foto{
        height: 28rem;
        width: 10rem;
        border-radius: 8px;
    }
    &__foto1{
        height: 28rem;
        width: 40rem;
        border-radius: 8px;
    }
    &__foto2{
        height: 1rem;

    }
    &__text{
        position: relative;
        bottom:10rem;
        width: 75%;
        color: #FFF;
        left: 1.5rem;
    }
 
    &__title{
        top: -.5rem;
        position: relative;
    }
}
.conheça{
    display: flex;
    background-color: #f58538;
    padding-top:3rem;
    

    &__info{
        left: 13rem;
        position: relative;
        top: 3rem;
    }
    &__h3{
        color: white;
        font-size: 2.5rem;
        width: 70%;
    }
    &__figure{

    }
    &__img{
        height:18rem;
        bottom: 1rem;
        position: relative;
        right: 14rem;
    }
    &__button{
        border: none;
        align-items: center;
        position: relative;
        margin-top: 4rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color:#f58538;
        background-color: white;
        border-radius: 30px; 
        font-size: 1.3rem;
        height: 3.5rem;
        width: 22rem;
        cursor: pointer;
    }
}
.equipe{
    background-color: white;
    padding-top:6rem;
    &__list{
        display: flex;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    &__item{
        list-style: none;
        text-align: center;
    }
    &__perfil{

    }
    &__img{
        border-radius: 50%;
        height: 14rem;
    }
    &__info{
        width: 60%;
        margin-top: 1rem;
        margin-left: 6rem;
        p{
            color: #223952;           
        }
        b{
            color: #223952;
            font-weight: 700;
            font-size: 1.2rem;
            
        }
    }
    &__cargo{
        margin-bottom: .8rem;
    }
    &__post{
        color: #223952;
    }
}
.buttonblog{
    margin-left: 42%;
    margin-top: -3rem;
    margin-bottom: 5rem;

}