
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Config
@import "config/variables.scss";

// components
@import "components/nav-menu.scss";
@import "components/footer.scss";
@import "components/container.scss";
@import "components/animation.scss";

//pages
@import "pages/home.scss";
@import "pages/sobre.scss";
@import "pages/contato.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    //background-blend-mode: overlay;
    //background-color: rgba(0,0,0,.5);
    line-height: 25px;
    scroll-behavior: smooth;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    &__content {
        width: 600px;
        padding: 2rem;
        text-align: center;
        background-color: #FFF;
        border-radius: 20px;
    }
}