.carteira {
    padding-left: 2rem;
    &__title {
        font-size: .8rem;
        text-align: center;
        padding: 1.5rem;
    }   
    &__center {
        display: flex;
        justify-content: center;
    }
    &__cash {
        font-size: 1.5rem;
        margin-right: 1.5rem;
        span {
            font-size: .8rem;
        }
    }
    &__sigla {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        margin-right: 1rem;
        padding: .3rem;
        //background-color: #4E5E8C;
        opacity: .5;
    }
}