.contato{
    &__form{
        //height: 28rem;
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $bp) { 
            padding: 1rem;
        }
    }
    &__formcontent{
        background-color: #fff;
        position: relative;
        border-radius: 10px;
        bottom: 10rem;
        max-width: 750px;
        margin: 0 auto;
        box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    }
    &__input{
        width: 47%;
        border-radius: 20px;
        border: 1.5px solid #d2d2d2;
        height: 3rem;
        font-size: 1rem;
        padding: 0 .5rem;
        box-sizing: border-box;
    }
    &__msg{
        width: 100%; 
        border-radius: 20px;
        margin-top: 2rem;
        border: 1.5px solid #d2d2d2;
        height: 6rem;
        font-size: 1rem;
        padding: 0 .5rem;
        box-sizing: border-box;
    }
    &__input2{
        width: 100%; 
        border-radius: 20px;
        margin-top: 2rem;
        border: 1.5px solid #d2d2d2;
        height: 3rem;
        font-size: 1rem;
        padding: 0 .5rem;
        box-sizing: border-box;
    }
    &__cel{
        display: flex;
        color: #fff;
        font-weight: bold;
        font-size: 2.3rem;
    }
    &__iten{
        list-style: none;
        width: 700px;
        height: 130px;
        background-color: #051526;

    }
    &__iten1{
        list-style: none;
        height: 130px;
        width: 700px;
        background-color: #134e85;
    }
}