.container{
    background-attachment: fixed;
    max-width: 1367px;
    margin: 0 auto;
    overflow-x: hidden;
    &__home {
        background-size: cover;
        background-image: url(/static/img/bg_hero.jpg);
    }
}