.container{
    background-attachment: fixed;
    max-width: 1367px;
    margin: 0 auto;
    overflow-x: hidden;
    &__home {
        background-image: url(/static/img/bg_hero.jpg);
        @media (min-width: $bp) { 
            background-size: cover;
        }
    }
}