// Forms

.primary-field {
    font-family: $primary-font;
    color: $four-color;
    letter-spacing: -0.05em;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    border: thin solid #DDD;
    transition: all 0.2s ease-out;
}

// Upload File
.input-file-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 
.input-file-trigger {
    cursor: pointer;
}
.input-file {
    position: absolute;
    top: 13px; 
    left: 0;
    width: 100%;
    opacity: 0;
    height: 36px;
    cursor: pointer;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 1em 0;
    background: #f3f3f3;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 395px;
    letter-spacing: -0.05em;
}